<!-- Hakkımızda Alanı -->
<section class="py-5">
    <div id="about" class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Hakkımızda</h2>
                <hr>
                <p>Albi Dijital olarak, restoranlarınızın ve işletmelerinizin müşterilere daha modern, hızlı ve hijyenik
                    bir deneyim sunmasına yardımcı oluyoruz. QR kodları ve dijital menülerimiz sayesinde, müşterileriniz
                    fiziksel menülere dokunmadan akıllı telefonlarıyla menülere anında erişebilirler. Bu sayede
                    müşterilerinizin yemek seçimini hızlandırarak dönüş hızını artırabilir, müşteri memnuniyetini
                    yükseltebilir ve hijyen standartlarını koruyabilirsiniz. Güncellenebilir ve görsel zengin dijital
                    menülerimizle işletmenizin ürünlerini etkileyici bir şekilde sergileyebilirsiniz. Siz de
                    işletmenizin teknolojiyle buluşmasını sağlayarak müşterilerinizi büyüleyen bir deneyim sunmak
                    istiyorsanız, Albi Dijital olarak size yardımcı olmaktan mutluluk duyarız. Detaylı bilgi ve demo
                    talepleri için bize ulaşmaktan çekinmeyin.</p>
            </div>
        </div>
    </div>
    </div>
</section>