<footer class="bg-dark text-white text-center py-4">
    <div class="container mb-5 mt-3">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mt-2">İLETİŞİM</h3>
                <hr>
                <a class="footer-a" href="tel:05534083450"><p>Telefon: +90 553 408 34 50</p></a>
                <a class="footer-a" href=""><p>Whatsapp: +90 553 408 34 50</p></a>
                <!-- Whatsapp ve telefon numarası değişecek -->
                <a target="_blank" href="https://wa.me/905534083450" class="btn btn-success"><i class="fa-brands fa-whatsapp"></i> İletişime Geç</a>
            </div>
            <div class="col-md-6">
                <h3 class="mt-2">Albi Dijital Menü</h3>
                <hr>
                <p>Restoranlar için dijital QR menü çözümleri sunuyoruz.</p>
            </div>
        </div>
    </div>
</footer>