<div id="menu" class="container courses-div">
    <div class="card text-center" style="padding-top: 24px;"><h1 style="font-size: 24px;">Dijital Menülerimiz</h1></div>
    <div  class="row">
        <div class="col-lg-4 col-6 mt-2">
            <div class="card text-center">
                <div class="courses-img d-flex justify-content-center">
                    <img src="/images/yıldırımpide.png" class="card-img-top" alt="Albi Dijital Menü">
                </div>
                <div class="card-body ">
                    <h2 class="card-title">Yıldırım Pide</h2>
                    
                    <a target="_blank" href="https://yildirimpide.albimenu.com/menu" class="btn btn-success">Göz At</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 mt-2">
            <div class="card text-center">
                <div class="courses-img d-flex justify-content-center">
                    <img src="/images/almibalık.png" class="card-img-top" alt="Albi Dijital Menü">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Almi Balık</h2>
                        <a target="_blank" href="https://almibalikdunyasi.albimenu.com/menu" class="btn btn-success"> Göz At</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 mt-2">
            <div class="card text-center">
                <div class="courses-img d-flex justify-content-center">
                    <img src="/images/almiqr.png" class="card-img-top" alt="Albi Dijital Menü">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Almi QR</h2>
                        <a target="_blank" href="https://wa.me/905534083450" class="btn btn-success">Göz At</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 mt-2">
            <div class="card text-center">
                <div class="courses-img d-flex justify-content-center">
                    <img src="/images/mervepide.png" class="card-img-top" alt="Albi Dijital Menü">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Merve Pide</h2>
                        <a target="_blank" href="https://mervepide.albimenu.com/menu" class="btn btn-success"> Göz At</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 mt-2">
            <div class="card text-center">
                <div class="courses-img d-flex justify-content-center">
                    <img src="/images/tanerusta.png" class="card-img-top" alt="Albi Dijital Menü">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Taner Usta</h2>
                        <a target="_blank" href="https://tanerusta.albimenu.com/menu" class="btn btn-success"> Göz At</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<hr>